# Database connection string
DATABASE_URI=mongodb+srv://admin:12345@test.rnqll.mongodb.net/?retryWrites=true&w=majority&appName=test
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=840e75c97714844f26f2d5d5
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000