# Added by Payload
DATABASE_URI=mongodb+srv://

# Used to encrypt JWT tokens
PAYLOAD_SECRET=

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Email
EMAIL_ADDRESS='Payload App <office@payload.app>'

# Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=